@charset 'utf-8';
*{margin:0;padding:0;}
html{font-size:625%;}
a{text-decoration: none;}
ul{list-style-type:none;}
i,em,address{font-style:normal;}
img{max-width:100%;display:block;}
.hide{display:none;}
body{
	background:#f5f5f5;
	margin:0 auto;
	max-width:6.4rem;
	font-size:0.14rem;
	font-family:'微软雅黑';
}
header{width:99%;margin:0 auto;}
header img{
	margin:.05rem 0 0.1rem 0;
}
header ul{
	margin:0 .04rem;
	height:.28rem;
	padding-left:.05rem;
	border-bottom:1px solid #478dcb;
}
header nav ul li {
	float:left;
	width:22%;
	text-align:center;
	border-radius:.04rem .04rem 0 0;
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#478dcb;
	height:.28rem;
	background: #478dcb;
	line-height:.28rem;
	box-sizing: border-box;
	margin:0 1.4%;
	font-weight:bold;
	font-size:0.14rem;

}
header nav ul li a{
	color:white;
}
header nav ul li.active{
	background: white;
}
header nav ul li.active a{
	color:#478dcb;
}